*.mat
*.docx
*.pdf
*.asv
*.csv
*.cfg
*.avi
*.mp4
*.png
*.jpeg
*.fig
*.xml
*.npy
*.xml
*.tex
*.fls
*.fdb_latexmk
.idea/
s3o4d/
*.gz
*.html
*.xml
*.xml
*.xml___jb_tmp___
*.pth
*.meta
*.iml
*.tar
*.pyc
*.jpg
*.npz
*.hdf5
*.ipynb
*.gif
*.fp
*.txt
*.zip
*.pkl
*.rar
*.pbs.*
*.h5
*.gz
*.synctex.*
*.npz.npy
*.pgf
*.log
*.aux
*.pt
*ubyte
